{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Videos
{% endblock %}

{% block container %}
    <h1>Video index</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uniqid</th>
                <th>Title</th>
                <th>Link</th>
                <th>PublicationDate</th>
                <th>Description</th>
                <th>Type</th>
                <th>File</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.uniqid }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.link }}</td>
                <td class="text-nowrap">{{ video.publicationDate ? video.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.type }}</td>
                <td>{{ video.file }}</td>
                <td class="text-nowrap">
                    <a href="{{ path('admin_video_edit', {'id': video.id}) }}" class="btn btn-secondary">edit</a>
                    {{ include('admin/video/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_video_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
