{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Messages
{% endblock %}

{% block container %}
    <h1>Message index</h1>
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Object</th>
                <th>Sender</th>
                <th>PhoneNumber</th>
                <th>Content</th>
                <th>SendingDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.object }}</td>
                <td>{{ message.sender }}</td>
                <td>{{ message.phoneNumber }}</td>
                <td>{{ message.content }}</td>
                <td class="text-nowrap">{{ message.sendingDate ? message.sendingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-nowrap">
                    <a href="{{ path('admin_message_edit', {'id': message.id}) }}" class="btn btn-secondary">edit</a>
                    {{ include('admin/message/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_message_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
