<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin_index') }}">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_picture_index') }}">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_video_index') }}">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_music_index') }}">Musiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_concert_index') }}">Concerts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_message_index') }}">Messages</a>
            </li>
        </ul>
        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                </li>
            </ul>
        {% endif %}
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>