{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Photos
{% endblock %}

{% block container %}
    <h1 class="underl">Picture index</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uniqid</th>
                <th>File</th>
                <th>PublicationDate</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.uniqid }}</td>
                <td>{{ picture.file }}</td>
                <td class="text-nowrap">{{ picture.publicationDate ? picture.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ picture.comment }}</td>
                <td class="text-nowrap">
                    <a href="{{ path('admin_picture_edit', {'id': picture.id}) }}" class="btn btn-secondary">edit</a>
                    {{ include('admin/picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_picture_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
