<nav>
    <div class="logo-container">
        <img src="#" />
    </div>
    <ul class="nav-list">
        <li>
            <a href="{{ path('app_home') }}">Home</a>
        </li>
        <li>
            <a href="{{ path('app_pictures') }}">Photos</a>
        </li>
        <li>
            <a href="{{ path('app_videos') }}">Videos</a>
        </li>
        <li>
            <a href="{{ path('app_musics') }}">Musiques</a>
        </li>
        <li>
            <a href="{{ path('app_concerts') }}">Concert</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}">Contact</a>
        </li>
    </ul>
    <div class="social-links"></div>
</nav>