{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Concerts
{% endblock %}

{% block container %}
    <h1>Concert index</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Datetime</th>
                <th>Address</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>ReservationLink</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concert in concerts %}
            <tr>
                <td>{{ concert.id }}</td>
                <td>{{ concert.title }}</td>
                <td class="text-nowrap">{{ concert.datetime ? concert.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ concert.address }}</td>
                <td>{{ concert.city }}</td>
                <td>{{ concert.postalCode }}</td>
                <td>{{ concert.reservationLink }}</td>
                <td>{{ concert.comment }}</td>
                <td class="text-nowrap">
                    <a href="{{ path('admin_concert_edit', {'id': concert.id}) }}" class="btn btn-secondary">edit</a>
                    {{ include('admin/concert/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_concert_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
