{% extends 'admin/base.html.twig' %}

{% block title %}
    {{ parent() }} - Musiques
{% endblock %}

{% block container %}
    <h1>Music index</h1>
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uniqid</th>
                <th>Title</th>
                <th>Mp3</th>
                <th>Ogg</th>
                <th>PublicationDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for music in musics %}
            <tr>
                <td>{{ music.id }}</td>
                <td>{{ music.uniqid }}</td>
                <td>{{ music.title }}</td>
                <td>{{ music.mp3FileName }}</td>
                <td>{{ music.oggFileName }}</td>
                <td class="text-nowrap">{{ music.publicationDate ? music.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-nowrap">
                    <a href="{{ path('admin_music_edit', {'id': music.id}) }}" class="btn btn-secondary">edit</a>
                    {{ include('admin/music/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_music_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
